body {
    margin: 0px;
    display: flex;
    justify-content: first baseline;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-image: url('./images/interstellar.png');
    background-size: cover;
    overflow: hidden;
    font-family: sans-serif;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-size: 45px;
    color: aliceblue;
}

.cloak {
    display: flex;
}

.cloak div {
    margin: 5px;
    position: relative;
}

.cloak span {
    width: 100px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.cloak .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(18, 143, 143);
    opacity: 0.8;
}

.cloak #ampm {
    bottom: 0px;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(22, 138, 138);
}